.* 
!.gitignore
!.dockerignore
!.github
/var
key.json

posters/
tfplan
__pycache__

__debug*

node_modules
lib
dist
.vscode
.DS_Store

pgdata
*.tfstate
*.tfstate.*

set_env_vars.sh

# # substituted db init.sql file
# init_substituted.sql
# # substituted db init.sql file
# init_substituted.sql

posters_small/

*set_env_vars.sh