.* 
!.gitignore
!.dockerignore
/var
key.json

posters/
tfplan
__pycache__

__debug*

node_modules
lib
dist
.vscode
.DS_Store


*.tfstate
*.tfstate.*

# Files and folders that are taken from main
set_env_vars.sh
pgvector/
chat_server_go/
frontend/
nginx/